/* 侧边栏 */
.VPSidebarItem .VPLink .text {
  white-space: pre-line;
  font-size: 12px;
  display: block;
  line-height: 18px;
}
.VPSidebarItem .VPLink .text:first-line {
  font-size: 14px;
  color: #333;
}
.VPSidebarItem.is-active .VPLink .text:first-line,
.VPSidebarItem .VPLink .text:hover:first-line {
  color: inherit;
}

#app .custom-block-title {
  display: none;
}
#app .custom-block {
  padding: 0 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #c1c1c1;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #fafafa;
}

li code {
  font-size: 12px !important;
  zoom: 0.9;
}
