/* 侧边栏 */
.VPSidebarItem .VPLink .text {
  white-space: pre-line;
  font-size: 12px;
  display: block;
  line-height: 18px;
}
.VPSidebarItem .VPLink .text:first-line {
  font-size: 14px;
  color: #333;
}
.dark .VPSidebarItem .VPLink .text:first-line {
  color: #fffff5db;
}
.VPSidebarItem.is-active .VPLink .text:first-line,
.VPSidebarItem .VPLink .text:hover:first-line {
  color: inherit;
}

#app .custom-block-title {
  display: none;
}
#app .custom-block {
  padding: 0 16px;
}

/* 滚动条样式 */
.VPSidebar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8b8b8b;
}
.VPSidebar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fcfcfc;
}
.dark .VPSidebar::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
}
.dark .VPSidebar::-webkit-scrollbar {
  background-color: #2c2c2c;
}


li code {
  font-size: 12px !important;
  zoom: 0.9;
}
