#app .link-text {
  white-space: pre-line;
  font-size: 10px;
  display: block;
  /* zoom: 0.8; */
}
#app .link-text:first-line {
  font-size: 14px;
  /* font-size: 17.5px; */
}

#app .custom-block-title {
  display: none;
}
#app .custom-block {
  padding: 0 16px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #c1c1c1;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: #fafafa;
}

li code {
  font-size: 12px!important;
  zoom: 0.9;
}

/* .VPHomeHero .text {
  max-width: initial!important;
  font-size: 46px;
}
.VPHomeHero .tagline {
  line-height: 22px;
  font-size: 20px;
  max-width: initial!important;
} */